.greybar {
    @include colorBlock(100%, 90px, $greybar-bg);
    clear: both;
    padding-top: 30px;

    @include mediaQuery() {
        display: none;
    }
}

footer {
    @include colorBlock(100%, 120px, $footer-bg);
    text-align: center;
    color: $white;
    padding-top: 50px;

    @include mediaQuery() {
        text-align: center;

        p, img {
            float: none;
            margin: 0;
        }
    }
}

$social-media-div-names: 'one', 'two', 'three', 'four';

.social-media {
    margin: 0 auto;
    width: 165px;

    div {
        float: left;
        margin-right: 5px;
    }

    a {
        display: block;
        width: 36px;
        height: 36px;
        text-indent: -9999px;
    }

    /* Use a math operation somewhere in your code. */
    @for $div from 1 through length($social-media-div-names) {
        $left: -38 * ($div - 1);
        @if ($left != 0) {
            $left: $left + 'px';
        }
        div.#{nth($social-media-div-names, $div)} {
            background: url('#{$image-path}/social-media.png') #{$left} 0;
        }
    }
}