/* Add Sass variables for the all the colors, image paths, and web fonts. */

/* COLORS */
$grey:          #666;
$orange:        #E65C43;
$white:         #FFF;
$headline-bg:   #F25C43;
$greybar-bg:    #F5F6F6;
$footer-bg:     #30353D;

/* FONT */
$font-body:     Roboto, sans-serif;

/* IMAGE PATH */
$image-path:     '../images';
